In [1]:
import pandas as pd

In [13]:
#import of review data
cols = ["user id","item id","rating","timestamp"]
#encoding using ISO-8859-1 is used because utf-8 does not support all the characters in movie names
df_data = pd.read_csv("ml-100k/u.data",sep="\t",names=cols,header=None,encoding="ISO-8859-1")

In [14]:
#verifying the sucessful import of review data
print(df_data.head())

   user id  item id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [15]:
#import of moviedata
cols = ["movie id "," movie title "," release date "," video release date ","IMDb URL "," unknown ",
        " Action "," Adventure "," Animation ","Children's "," Comedy "," Crime "," Documentary ",
        " Drama "," Fantasy ","Film-Noir "," Horror "," Musical "," Mystery "," Romance "," Sci-Fi ",
        "Thriller "," War "," Western "]

df_movie = pd.read_csv("ml-100k/u.item",sep="|",names=cols,header=None,encoding="ISO-8859-1")

In [16]:
#verifying the sucessful import of movie data
print(df_movie.head())

   movie id        movie title   release date    video release date   \
0          1   Toy Story (1995)    01-Jan-1995                   NaN
1          2   GoldenEye (1995)    01-Jan-1995                   NaN
2          3  Four Rooms (1995)    01-Jan-1995                   NaN
3          4  Get Shorty (1995)    01-Jan-1995                   NaN
4          5     Copycat (1995)    01-Jan-1995                   NaN

                                           IMDb URL    unknown    Action   \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...          0         0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...          0         1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...          0         0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...          0         1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)          0         0

    Adventure    Animation   Children's   ...   Fantasy   Film-Noir   \
0            0            1            1  ...          0           0
1            1            0            0  ...          0           0
2            0            0            0  ...          0           0
3            0            0            0  ...          0           0
4            0            0            0  ...          0           0

    Horror    Musical    Mystery    Romance    Sci-Fi   Thriller    War   \
0         0          0          0          0         0          0      0
1         0          0          0          0         0          1      0
2         0          0          0          0         0          1      0
3         0          0          0          0         0          0      0
4         0          0          0          0         0          1      0

    Western
0          0
1          0
2          0
3          0
4          0

[5 rows x 24 columns]

In [26]:
#import of user data
cols = ["user id","age","gender","occupation","zip code"]
df_user = pd.read_csv("ml-100k/u.user",sep="|",names=cols,header=None,encoding="ISO-8859-1")

In [27]:
#verifying the sucessful import of user data
print(df_user.head())

   user id  age gender  occupation zip code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [33]:
#frequency binning the ages into age groups as it will be easier for future analysis
df_user['age_group'] = pd.qcut(df_user['age'],q=10,precision=0)

#the bins are of unequal size due to repeating values in a bin
df_user['age_group'].value_counts()

(6.0, 20.0]     109
(23.0, 26.0]    105
(35.0, 40.0]    100
(31.0, 35.0]     98
(29.0, 31.0]     96
(40.0, 46.0]     94
(46.0, 51.0]     93
(20.0, 23.0]     92
(51.0, 73.0]     85
(26.0, 29.0]     71
Name: age_group, dtype: int64