In [1]:
import pandas as pd

In [4]:
inp = [{'c1':3, 'c2':0,'c3':0, 'c4':1},
       {'c1':4, 'c2':0,'c3':1, 'c4':0},
       {'c1':5, 'c2':1,'c3':0, 'c4':0}]
df = pd.DataFrame(inp)

In [3]:
df.head()

   c1   c2
0  10  100
1  11  110
2  12  120

In [6]:
def select_row(row):
    for key,value in row.items():
        if value==1:
            return key

In [7]:
df['c5']=  df.apply(lambda row: select_row(row), axis=1)

In [8]:
df

   c1  c2  c3  c4  c5
0   0   0   0   1  c4
1   0   0   1   0  c3
2   0   1   0   0  c2